<!DOCTYPE html>

<!-- Here I want to tell stories about the origin of the coffee, perhaps introduce the family, etc. -->

<!-- Is it smarter to put the two translations here and copy the JS for changing the language? -->

{% extends "layout.html" %}

{% block body_style %}
style="background-image: url('project/static/pictures/tienda.png'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;"
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <p id="txt">Hola, buenos días. Se presenta, mi cafe!! :)</p>
{% endblock %}
