{% extends "layout.html" %}

{% block title %}
    Sobre mi
{% endblock %}

{% block body_style %}
    style="background-image: url('project/static/pictures/cara.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;"
{% endblock %}

{% block main %}
<div class="page">
    <h3>Sobre Mi</h3>
    <p>El café ha sido una parte de mi familia por todo una vida y más que dos generaciones. Nací hace 42 años en la finca de café de mi familia en un pueblo de San Lorenzo Nariño, en el sur de Colombia. Esto es donde mi aventura de café echó raíces. Luego, en el año 2000, empecé tostando nuestro café auténtico en un mercado de fruta en Cali. Pronto después, intenté llevar el café de la pequeña tierra de mis padres a Chile. Que aventura! Todo no pasó cómo planeado y hubo unos momentos de locura, pero aprendí mucho. Pasé a Argentina, donde trabajé en un café. Fue allí, lejos de mi tierra natal, donde me di cuenta de mi profundo amor por la fruta que me había acompañado desde que era niña. Descubrí mi vocación por el mundo mágico del café.
        <br><br>Soy una fabricante de café. Esta es mi herencia hermosa.
        <br><br>Desde este tiempo, he superado luchas, incluyendo la violencia doméstica y la pérdida de mi primer café como resultado. Pero, soy sobreviviente. Mi amor por el café me trajo de vuelta a mí misma, y así es cómo me encuentran aquí en el Café Sorbo de Angel.
        <br><br>Mi sueño es conectar el café de mi familia y las personas que lo cultivan a otros lugares mágicos en el mundo. Muchas de las personas que cultivan café nunca saben qué pasa con su café y a dónde va después de comprar los granos de café. Esto quiero cambiar. Quiero construir una puente entre los cultivadores y los clientes. Si estás interesado en llevar nuestro café a clientes de tu país, te invito a tener una cata y una conversación conmigo.
        <br><br>Quédate por una taza, una conversación, un poco de mágico…</p>
</div>
{% endblock %}
